# Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import persons R

## Data frames

In [10]:
# Add Data frame
df0 = pd.read_csv('../../csv/Combined_Data_Frame.csv', index_col=0)
df0.reset_index(inplace=True)
df0['Record Date'] = pd.to_datetime(df0['Record Date'])

df1 = pd.read_csv('../../csv/Radiation.csv', index_col=0)

### Selected years

In [6]:
# Selection of 4 Years
years = ['2018', '2019', '2020', '2021']

### Function

In [7]:
def selector(year, df, name):

    dc = df[[year]].copy()
    dc.reset_index(inplace=True)
    dc = dc.rename(columns = {'index':'Record Date'})

    dc['Record Date'] = pd.to_datetime(dc['Record Date'], format="[%d-%m]")
    dc.rename(columns = {year:name}, inplace = True)

    dc['Record Date'] = dc['Record Date'].astype('string')
    dc['Record Date'] = dc['Record Date'].str.replace('1900', year)
    dc['Record Date'] = pd.to_datetime(dc['Record Date'], format="%Y-%m-%d")

    return dc

def shuffleData(years, df, name):
    
    selectedList = [];

    for i in years:
        selected = selector(i, df, name)
        selectedList.append(selected)

    #Contact using Iteration
    ff = pd.concat([selectedList[3], selectedList[2],  selectedList[1],  selectedList[0]])

    ff.reset_index(inplace=True)
    ff.drop('index', axis=1, inplace=True)
    
    return ff

# df - New data from EnnAppSys system (Daily)
# mf - Main data frame to which you append the new data
def mergeData(years, df, mf, name):
    
    sf = shuffleData(years, df, name)
    finalMerge = pd.merge(mf, sf, on='Record Date', how='right' )

    return finalMerge

### Run Code

In [19]:
df = mergeData(years, df1, df0, "Radiation")
df

,Record Date,Total Demand,Wind Speed,Air Temperature(Apparent),Air Temperature,Cloud Coverage,Radiation
0,2021-01-01,63342.0,14.50,11.32,0.95,74.92,50.79
1,2021-01-02,67819.0,21.53,11.35,-0.01,68.10,44.90
2,2021-01-03,67018.0,20.20,10.32,0.07,85.41,42.45
3,2021-01-04,75574.0,13.58,10.49,0.10,87.49,37.06
4,2021-01-05,78002.0,12.05,8.99,-0.14,88.71,42.72
...,...,...,...,...,...,...,...
1455,2018-12-27,68436.0,7.42,13.59,2.40,71.22,56.83
1456,2018-12-28,68179.0,14.38,14.28,2.36,53.98,55.43
1457,2018-12-29,64849.0,14.44,15.05,2.04,39.59,61.70
1458,2018-12-30,61282.0,17.58,16.38,3.42,50.86,55.69
1459,2018-12-31,62108.0,15.80,17.68,4.32,57.01,50.26